*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* per il contenitore generale */
/* .container{
  width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
} */
header{
  background-color: black;
  height: 70px;
}
.header_left, .header_right{
  height: 70px;
  float: left;
  width: 50%;
}
.header_right{
  text-align: right;
}
.header_left h1{
  margin-left: 20px;
  color: red;
  line-height: 70px;
}

/* per il contenitore dell'input text e del bottone (link) */
.header_right .container_search{
  margin: 20px 0;   /* (70-30)/2 */
  margin-right: 20px;
}
body{
  background-color: #1a1f28;
}
/* per la casella input */
.input_search_movie{
  width: 200px;
  height: 30px;
}
/* per il bottone (link) 'Cerca' */
a.search{
  text-decoration: none;
  padding: 7px 20px;
  color: black;
  border-radius: 20px;
  background-color: white;
  font-weight: bold;
}
/* per il contenitore dei risultati della ricerca */
.container_results{
  /* margin-top: 10px; */
  width: 1170px;
  margin: 0 auto;
  min-height: calc(100vh - 70px);
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 10px;
}
/* per le card film */
.movie{
  margin-top: 10px;
  width: 250px;
  margin: 15px 18px;
  height: 350px;
  padding: 10px;
  position: relative;
}
/* per i campi h4 del template  */
h4{
  color: #c3c6cc;
  font-size: 14px;
  padding: 5px;
}
/* per colorare le stelline di giallo */
.yellow{
  color: yellow;
}
/* per le immagini di copertina */
img.copertina{
  width: 250px;
  height: 350px;
  position: absolute;
}
/* quando passo il mouse sopra */
img.copertina:hover{
  transition: 0.7s;
  opacity: 0;
}
/* per le bandierine */
img.bandiera{
  width: 15px;
  height: 15px;
}
